{% extends 'layout/simple.twig' %}
{% set body_class = 'full' %}
{% set title = 'Verifica' %}
{% block content %}
<div class="container">
	<div class="row">
    <div class="main">
    	<h1>Verifica</h1>

	    <div class="box">
	    {% include 'app/login/feedback_messages.twig' %}
        <a href="/">Torna alla home</a>
	    </div>

    </div>
    </div>
</div>

{% endblock %}
