{% extends 'layout/simple.twig' %}
{% set title = 'Dashboard' %}
{% block content %}
Welcome on <b>{{ config['app.name'] }}</b>
<a href="logout" class="btn btn-lg btn-warning">Logout</a>
{% endblock %}