 <div><a href="#" onclick="signOut();">Logout from Google</a></div>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

  startAuth(2); <!-- non è chiaro il significato del valore "2", sembra infatti che non abbia corrispondenza nel metodo -->

</script>