 {# Regular button #}
 
 <script src="https://apis.google.com/js/platform.js" async defer></script>
 <meta name="google-signin-client_id" content="190362098327-35dp2uvme3i8tqnq2257nb7g6e7am9b6.apps.googleusercontent.com">
 <div class="g-signin2" data-onsuccess="onSignIn"></div>
 
 <script>
 function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('Google ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
 </script>
